#heading{color: white; background-color: black;}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 9
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size:1.25rem
}
#navbar a:hover{background-color:chartreuse; color: black; font-size: 1.25rem; font-weight:bold}
body{background-color: black; color: white}

.content {
  padding: 16px;
}
h1{text-align: center;}
h2{text-align: center;}
.slidetitle{font-size:2rem}
.slidedesc{text-align: center; font-size: 2rem}
* {box-sizing:border-box}

.slideshow-container {
  width: 500px;
  height:500px;
  position: relative;
  margin: auto;
  float: left;
}

.mySlides {
  display: none;
}
.original{display: block}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.skills{background-color: #333;
margin-top:370px}
.skillbox {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60% 40%;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  align-items:center
}
.skillbox img {
  max-width:80%;
  height: 100%;
  display: block;
  margin:0 auto;
}
.skillbox p{text-align: center; font-size:2rem}

.projects{width:65%; margin-bottom: 20px}

.projectContainer{border:4px solid white;
  border-radius: 5px; margin-top: 30px; text-align:center; color: white; }

.projectContainer img{height:300px; margin:auto; display:block}

.projectContainer:hover{background-color: white; color: black;}

.bottom{background-color:#333; color: white; display:block; margin-top: -10px; margin-bottom:-10px; text-align:center;}

a{text-decoration: none;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;}
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: chartreuse; font-weight:bold
}
.container {  
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
  width:60%;
  align-items:center;
  margin:auto;
  margin-bottom: 30px
}
.contactPic img{width: 230px}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}